#summary {
    width: 450px;
    height: 346px;
    font-size: 10px;
}

#rules {
    width: 250px;
    height: 346px;
    font-size: 10px;
}

#add {
    margin-left: 5px;
}

#autoRender {
    margin-left: 10px;
}
#canvas {
    border: 1px solid #f1ecec;
}

#genes {
    margin-top: 10px;
}
#genes_table td {
    min-width: 100px;
}
.lifegraph .dygraph-axis-label { font-size: 8px; color: #c5c8d4; }
.lifegraph .dygraph-label { font-size: 8px; color: #c5c8d4; }
.lifegraph .dygraph-legend { font-size: 8px; color: #c5c8d4; }
.lifegraph .dygraph-title {font-size: 11px;color: #c5c8d4;font-weight: normal;}

.lifegraph {width: 250px;height: 200px;float: left;margin-bottom: 20px;}
#graphdiv_genes {clear: both;margin-bottom: 20px;margin-left: 30px;padding-top: 14px;color: #c5c8d4;}

body.life_charts { background: #1d1e22; }
#graphdiv_container { color: #c5c8d4 }

#avg_tr td { background-color: whitesmoke;}
#creature_red td { background-color: red;}
#creature_purple td { background-color: purple; }
#creature_blue td { background-color: #3939e2; }
#creature_pink td { background-color: pink; }
#creature_yellow td { background-color: yellow; }
#creature_orange td { background-color: orange; }
#creature_brown td { background-color: brown !important; }
